.top-header{
    position: fixed;
    width: 100%;
    background-color: black;
    color: white;
    z-index: 10000;
}

.top-header.light{
    background-color: white;
    box-shadow: 0px 2px 5px rgba(221, 221, 221, 0.5);
}

img.img{
    max-width: 100%;
}

.padding-top-bottom-10{
    padding: 10px 0;
}

.top-header .user-icon{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 12px;
    border-radius: 25px;
    background-color: white;
}

.top-header.light .user-icon{
    border: 1px solid #ccc;
}

.top-header .user-icon:hover{
    cursor: pointer;
}

.top-header.light .user-icon:hover{
    box-shadow: 1px 2px 7px rgba(0,0,0,0.2);
}

.top-header .user-icon i{
    color: black;
}

.top-header .user-icon i.fi-rr-user{
    margin-left: 8px;
    background-color: #ccc;
    padding: 6px;
    border-radius: 25px;
}

.top-header a.top-btn, .top-header .top-btn{
    font-family: "Circular";
    color: white;
    padding: 12px 15px;
    border-radius: 25px;
}

.top-header.light a.top-btn, .top-header.light .top-btn{
    color: black;
}

.top-header a.top-btn:hover, .top-header .top-btn:hover{
    background-color: rgba(32, 32, 32, 0.9);
    cursor: pointer;
}

.top-header.light a.top-btn:hover, .top-header.light .top-btn:hover{
    background-color: rgb(245, 245, 245);
}

.top-header .top-list div, .top-header .top-list a{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: "Circular";
}

.top-header.light .top-list div, .top-header.light .top-list a{
    color: black;
}

.top-header .top-list div::after, .top-header .top-list a::after{
    position: absolute;
    content: "";
    width: 0%;
    height: 2px;
    background-color: white;
    bottom: -8px;
    transition: all 0.2s ease-in-out;
}

.top-header.light .top-list div::after, .top-header.light .top-list a::after{
    background-color: black;
}

.top-header .top-list div:hover, .top-header .top-list a:hover{
    cursor: pointer;
    color: rgb(173, 173, 173);
}

.top-header.light .top-list div:hover, .top-header.light .top-list a:hover{
    color:rgb(133, 131, 131);
}

.top-header .top-list div:hover::after, .top-header .top-list a:hover::after{
    position: absolute;
    content: "";
    width: 5%;
    height: 2px;
    background-color: rgb(173, 173, 173);
    bottom: -8px;
}

.top-header.light .top-list div:hover::after, .top-header.light .top-list a:hover::after{
    background-color: rgb(133, 131, 131);
}

.top-header .top-list div.active, .top-header .top-list a.active{
    color: white;
    cursor: pointer;
}

.top-header.light .top-list div.active, .top-header.light .top-list a.active{
    color: black;
}

.top-header .top-list div.active::after, .top-header .top-list a.active::after{
    position: absolute;
    content: "";
    width: 15%;
    height: 2px;
    background-color: white;
    bottom: -8px;
}

.top-header.light .top-list div.active::after, .top-header.light .top-list a.active::after{
    background-color: black;
}

.experience-btn{
    cursor: pointer;
    visibility: hidden;
    color: black;
    border-radius: 50px;
    padding: 8px 10px;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    transform: scale(1.3);
    transition: all .3s ease-in-out;
}

.experience-btn.active{
    visibility: visible;
    transform: scale(1);
}

.top-header .top-search{
    border-radius: 50px;
    margin-bottom: 20px;
    background-color: rgb(240, 240, 240);
    transition: all .3s ease-in-out;
}

.top-header.light .top-search{
    border: 0.5px solid #ccc;
    background-color:rgba(240, 240, 240, 0.2);
}

.div-input{
    padding: 10px 25px;
    border-radius: 50px;
}

.div-input.active{
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}

.div-input:hover{
    cursor: pointer;
}

.div-input label{
    color: black;
}

.div-input input{
    width: 100%;
    border: none;
    background-color: transparent;
    padding: 2px 0px;
    font-family: "Circular";
}

.div-input input:focus{
    border: none;
    background-color: transparent;
}

button.search-btn{
    display: flex;
    justify-content: center;
    background: rgb(255, 56, 92) none repeat scroll 0% 0% !important;
    max-width: 40px;
    font-family: "Circular";
    padding: 12px 13px;
    border-radius: 25px;
    overflow-x: hidden;
    transition: all 0.2s ease-in-out;
}

button.search-btn:hover{
    cursor: pointer;
}

button.search-btn i{
    font-size: 14px;
    color: white;
}

button.search-btn .text{
    margin-left: 5px;
    visibility: hidden;
    color: white;
    /* transform: translateX(100%); */
}

button.search-btn.full{
    max-width: 40%;
}

button.search-btn.full .text{
    visibility: visible;
}

img.rounded{
    border-radius: 10px;
}

img.rounded-top{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.rounded-bottom{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.bottom-15{
    bottom: 15%;
}

.bottom-20{
    bottom: 20%;
}

button.special-btn{
    font-family: "Circular";
    font-weight: bolder;
    cursor: pointer;
    margin-top: 10px;
    padding: 15px 35px;
    border-radius: 25px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0% !important;
    /* background: rgba(0, 0, 0, 0) linear-gradient(90deg, rgb(111, 1, 156) 0%, rgb(198, 1, 126) 135.12%) repeat scroll 0% 0% padding-box text !important; */
}

button.btn-text{
    background: rgba(0, 0, 0, 0) linear-gradient(90deg, rgb(111, 1, 156) 0%, rgb(198, 1, 126) 135.12%) repeat scroll 0% 0% padding-box text !important;
}

.font-70{
    font-size: 70px;
}

button.black{
    background-color: rgb(34, 34, 34);
    color: white;
    font-family: "Circular";
    border-radius: 5px;
    padding: 15px 20px;
    cursor: pointer;
}

.search-icon{
    height: 32px;
    width: 32px;
    padding: 10px;
    border-radius: 50%;
    color: white;
    background: #FB3559;
    font-size: 12px;
}

button.trip-btn{
    padding: 15px 25px;
    border-radius: 10px;
    cursor: pointer;
    background-color: white;
    color: black;
    font-family: "Circular";
}

.bubble{
    cursor: pointer;
    width: 32px;
    height: 32px;
    margin: 2px;
    padding: 8px;
    border-radius: 50%;
    color: rgb(204, 204, 204);
    border: 1px solid rgb(204, 204, 204);
}

.bubble.active{
    color: black;
}

.bubble{
    display: none;
}

.truncate{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: pre;
}

@media(max-width: 320px){
    .bubble{
        display: block;
    }

    .font-70{
        font-size: 50px;
    }
    .introducing{
        bottom: 10%;
    }

    .hide-on-media-720{
        display: none;
    }
}

@media screen and (max-width: 371px) and (min-width: 321px){
    .bubble{
        display: block;
    }

    .font-70{
        font-size: 60px;
    }
    .introducing{
        bottom: 10%;
    }

    .hide-on-media-720{
        display: none;
    }
}

@media screen and (max-width: 421px) and (min-width: 371px){
    .bubble{
        display: block;
    }

    .introducing{
        bottom: 10%;
    }

    .hide-on-media-720{
        display: none;
    }
}

@media screen and (max-width: 451px) and (min-width: 421px){
    .bubble{
        display: block;
    }

    .introducing{
        transform: translate(5%, 50%);
        bottom: 30%;
    }

    .hide-on-media-720{
        display: none;
    }
}

@media screen and (max-width: 471px) and (min-width: 451px){
    .bubble{
        display: block;
    }

    .introducing{
        transform: translate(8%, 50%);
        bottom: 30%;
    }

    .hide-on-media-720{
        display: none;
    }
}

@media screen and (max-width: 501px) and (min-width: 471px){
    .bubble{
        display: block;
    }

    .introducing{
        transform: translate(13%, 50%);
        bottom: 30%;
    }

    .hide-on-media-720{
        display: none;
    }
}

@media screen and (max-width: 540px) and (min-width: 501px){
    .bubble{
        display: block;
    }

    .introducing{
        transform: translate(17%, 50%);
        bottom: 30%;
    }

    .hide-on-media-720{
        display: none;
    }
}

@media screen and (max-width: 570px) and (min-width: 541px){
    .bubble{
        display: block;
    }

    .introducing{
        transform: translate(20%, 50%);
        bottom: 30%;
    }

    .hide-on-media-720{
        display: none;
    }
}

@media screen and (max-width: 620px) and (min-width: 571px){
    .bubble{
        display: block;
    }

    .introducing.left-10{
        left: none;
    }
    .introducing{
        transform: translate(25%, 50%);
        bottom: 30%;
    }

    .hide-on-media-720{
        display: none;
    }
}

@media screen and (max-width: 820px) and (min-width: 621px){
    .bubble{
        display: block;
    }

    .hide-element{
        display: none;
    }

    .hide-on-media-720{
        display: none;
    }
}

@media screen and (max-width: 920px) and (min-width: 821px){
    .bubble{
        display: block;
    }
}